<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Municipios</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>
	<!-- Navegación -->
	<header>
		<div class="container">
			<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="navbar-start">
					<a class="navbar-item" href="https://www.uacam.mx">
						Universidad Autonoma de Campeche
	                </a>

					<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
						data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbarBasicExample" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="/index">
							Municipios
						</a>
					</div>
				</div>
			</nav>
		</div>
		<br>
		<br>
	</header>
	
	<div class="container">
		<!-- Contenido de la página -->
	</div>

	<footer>
		<div class="container">
			<p>(c) UACAM 2023</p>
		</div>
	</footer>
</body>

</html>

